@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
::-webkit-scrollbar{
    width: 5px;
    transition: 0.5s;
}

::-webkit-scrollbar-track{
    border-radius: 1px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .8);
    transition: 1s;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #000;
}
.social{
    padding: 5px 0;
    background-color: #333237;
}
.social a{
    display: inline-block;
    color: #ffff;
    margin-right: 10px;
    transition: 0.2s;
}
.social a:hover{
    color: #01003F;
}
.banner a{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border: solid 1px #fff;
    transition: 0.3s;
}
.banner a:hover{
    border: solid 1px #fff;
    background-color: #fff;
    color: #000;
}
.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../asset/Banner.png);
    color: #fff;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
    font-family: inter;
	color: #000;
	margin-bottom: 80px;
}
.service {
	background-color: rgba(0, 0, 0, .2);
}
.box {
	color: #000;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
    font-family: montserrat;
}
.text{
    margin: 50px;
    z-index: 1;
    font-family: inter;
}
.text p{
    margin: 10px 0px;
    font-family: Montserrat;
}
.button a{
    position: absolute;
    padding: 10px 45px;
    margin: -200px 50px;
    z-index: 10;
    border-radius: 5px;
    border: solid 1px rgb(0, 19, 59);
    background-color: rgb(0, 19, 59);
    transition: .2s;
    color: #fff;
    text-decoration: none;
    font-family: inter;
}
.loc {
	background-color: rgba(0, 0, 0, .5);
}
.card.map-card .living-coral {
  background-color: #fa7268;
}

.card.map-card .living-coral-text {
  color: rgba(0, 0, 0, .6);
}

.card.map-card .table th {
  width: 2rem;
}

.card.map-card .pt-3-5 {
  padding-top: 1.25rem;
}

.card.map-card .card-body {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.card.map-card .card-body.closed {
  top: 100%;
  height: 7.5rem;
  margin-top: -7.5rem;
}

.card.map-card .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.map-card .button .btn-floating {
  margin-top: -1.5rem;
}
.service{
    background-color: rgba(0, 0, 0, .3);
    padding-top: 50px;
    padding-bottom: 100px;
}
@media screen and (max-width: 999px){
    .map iframe{
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width: 900px){
    .abt img{
        width: 10%;
    }
    .box{
        opacity: 0;
    }
    .abt h2{
        text-align: center;
    }
    .abt p{
        text-align: center;
    }
    .abt img{
        opacity: 0;
    }
    .service h1{
        text-align: center;
    }
}